body{
	margin: 0px !important;
	padding: 0px !important;
}

.a{
	background-color: #3a93f2;
	padding-left: 30px;
	display: block;
	width: 500%;
	border: solid;
	margin: 10px;
}
.SmallBlock
			{
				width: 60%;
				margin: 0px auto;
				display: block;
				background-color: white;
			}
			.Table
			{
				border: solid 1px #0084ff;
				border-radius: 7px;
				margin-top: 100px;
			}
			.Title
			{
				background-color: #0084ff;
				color: white;
				padding-top: 10px;
				padding-left: 30px;
				padding-bottom: 10px;
				border-top-right-radius: 5px;
				border-top-left-radius: 5px;
			}

